 * {
     margin: 0;

 }



 .img {

     width: 1494px;
     height: 669px;
     left: 45px;
     top: 0px;

 }

 .banner-title {
     color: #FFFFFF;
     position: absolute;
     width: 826px;
     height: 158px;
     left: 307px;
     top: 174px;
     font-family: 'Inter';

     font-weight: 700;
     font-size: 65px;
     line-height: 79px;
     text-align: center;

 }

 .banner-description {
     color: #FFFFFF;
     position: absolute;
     width: 691px;
     height: 56px;
     left: 375px;
     top: 352px;
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 28px;
     text-align: center;
 }

 .btn-primary {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 16px 12px;
     gap: 8px;
     position: absolute;
     width: 160px;
     height: 56px;
     left: 640px;
     top: 438px;
     background: #FF5959;
     border-radius: 5px;
 }

 /* donate today */
 .section-title {

     font-family: 'Inter';
     font-style: normal;
     font-weight: 700;
     font-size: 45px;

     text-align: center;
     color: #121212;

 }

 .donate {
     margin-top: 100px;
 }

 .section-description {


     font-family: 'Poppins';
     font-style: normal;
     font-weight: 400;
     font-size: 18px;

     text-align: center;
     color: #707070;

 }

 .donate-info {
     background-color: whitesmoke;
     height: 150px;
     width: 150px;
     margin: 0 10px;
     /* background-color: #707070; */
 }

 .donate-description {
     text-align: center;
     color: #000000;
     font-family: 'Inter';
     font-style: normal;
     font-weight: 700;
     font-size: 30px;
     margin-top: 65px;

 }

 #orange {
     border: 5px solid orangered;
 }

 .span {
     color: orangered;
 }

 .primary-button {
     display: flex;
     justify-content: center;
 }


 .button {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 16px 12px;
     gap: 8px;

     width: 160px;
     height: 56px;
     left: 640px;
     top: 438px;
     background: #FF5959;
     border-radius: 5px;


 }

 .helping {

     display: flex;
     justify-content: center;



 }

 .plan-item {
     background-color: antiquewhite;
     margin: 5px;
     border: 3px solid grey;
 }

 .plan-title {
     font-weight: 700;
     font-size: 20px;
     margin-top: 30px;
     margin-bottom: 20px;


 }




 .plan-description {
     color: #757575;
     font-size: 18px;

     height: 150px;
     width: 150px;
     margin: 0 10px;


 }

 /* donate  */
 .donate-info-container {

     display: flex;
     justify-content: center;

 }

 .donate-item {

     height: 70px;
     width: 70px;
     margin: 10px;
     border: 3px solid grey;
     background-color: aquamarine;
 }

 .donate-item-title {

     text-align: center;
     margin-top: 25px;
     font-weight: 700;
     font-size: 20px;


 }

 /* banner 2 */
 .banner-2 {
     margin: 50px;
 }

 .banner-2-information {
     display: flex;
     align-items: center;

 }

 .banner-2-items {
     width: 493px;
     height: 374px;
     margin-left: 150px;
     margin-top: 183px;
     margin-right: 82px;
     margin-bottom: 150px;
 }

 .banner-2-title {
     font-weight: 700;
     font-size: 45px;
     margin-bottom: 20px;
 }

 .banner-2-description {
     font-weight: 400px;
     font-size: 18px;
     color: #707070;
     margin-top: 20px;
 }

 .btn-contribute {
     margin-top: 30px;
     color: #FFFFFF;
     font-weight: 700;
     font-size: 20px;
     background: #FF5959;
     border: 0;
     border-radius: 5px;
     padding: 16px 12px;
     gap: 8px;

 }

 .banner-2-image {
     width: 456px;
     height: 477px;
     margin-top: 130px;
 }

 /* get updates */
 .updates-title {
     width: 353px;
     height: 54px;
     font-weight: 700;
     font-size: 45px;
     line-height: 54px;
     text-align: center;
     margin-top: 130px;
     margin-bottom: 30px;
     margin-left: 544px;
 }

 .updates-description {
     width: 691px;
     height: 56px;
     font-weight: 400;
     font-size: 18px;
     text-align: center;
     color: #707070;
     margin-left: 375px;
 }

 /* contact */
 .contact {
     width: 809px;
     height: 200px;
     margin-left: 361px;
     margin-top: 50px;
     margin-bottom: 130px;
     background: #FFF4D6;
 }

 .contact-item {
     width: 432px;
     height: 48px;
     margin-top: 76px;
     display: flex;


 }

 .email {
     width: 200px;
     height: 40px;
     margin-top: 76px;
     margin-left: 205px;
     background: #D9D9D9;
     border-radius: 5px 0px 0px 5px;
 }

 .btn {
     color: white;
     width: 157px;
     height: 46px;
     margin-top: 76px;
     margin-left: 2px;
     background: #FF5959;
     border-radius: 0px 5px 5px 0px;

 }

 /* footer */


 .footer {
     background: #0B0D17;
     left: 0%;
     right: 0%;
     top: 95.52%;
     bottom: 0%;
     
 }

 .footer-title {
     font-family: 'Lobster';
     width: 158px;
     height: 44px;
     font-weight: 400;
     font-size: 36px;
     line-height: 44px;
     letter-spacing: 0.5px;
     color: #FF5959;

 }

 .footer-description {
     font-family: 'Manrope';
     font-weight: 400;
     font-size: 14px;
     line-height: 24px;
     height: 24px;
     color: #D9DBE1;
     flex: none;
     order: 1;
     flex-grow: 0;

 }